<header>
    <div class="header-container">
        <h1 class="logo">Click2Drive</h1>
        <nav>
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('cars')}}" class="active-nav">Cars</a>
            <a href="about_us.html">About Us</a>
            <a href="contact.html">Contact</a>
            <a href="login.html">Login</a>
            <a href="sign_up.html">Sign Up</a>
            <input type="text" placeholder="Search here..." class="search-bar">
            <a class="cart" href="cart.html">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </nav>
    </div>
</header>