<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Shop - About & Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
 <!-- Header -->
    <header>
        <h1>CLICK2DRIVE</h1>
        <nav>
            <a href="#contact">Contact Us</a>
        </nav>
    </header>

<section id="contact">
    <h2>Contact Us</h2>
    <p>Have questions about our cars? Send us a message!</p>

    <div class="contact-container">
        
        <!-- Contact Info -->
        <div class="contact-info">
            <h3>Get in Touch</h3>
            <p><i class="fa-solid fa-location-dot"></i>Adress: Quezon City, Philippines</p>
            <p><i class="fa-solid fa-phone"></i> Contact Number: 0912-345-6789</p>
            <p><i class="fa-solid fa-envelope"></i> Email:click2drive@email.com</p>
        </div>

        <!-- Contact Form -->
        <form class="contact-form">
            <input type="text" placeholder="Your Name" required>
            <input type="email" placeholder="Your Email" required>
            <input type="text" placeholder="Car Model Interested" required>
            <textarea rows="5" placeholder="Your Message"></textarea>
            <button type="submit">Send Message</button>
        </form>

    </div>
</section>
</head>
</body>