{% extends 'base.html' %}

{% block content %}

<main>
    <section class="first-section">
        <div class="first-content">
            <h2>The Future of Driving, Now.</h2>
            <p>Explore our exclusive lineup of electric and high-performance vehicles, engineered for tomorrow.</p>
            <a href="{{url_for('cars')}}" class="cta-button">Explore Models <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="fisrt-overlay"></div>
    </section>

</main>

{% endblock %}